@app.route(
    "/question/<int:n>",
    methods=["GET", "POST"]
)
def question(n):

    if "name" not in session:
        return redirect(url_for("home"))

    total = len(QUESTIONS)

    if n >= total:
        return redirect(url_for("finish"))

    q = QUESTIONS[n]

    if request.method == "POST":

        selected = request.form.get("answer")

        answers = session.get("answers", {})

        # Cavab seçilibsə yadda saxla
        if selected in ["A", "B", "C", "D"]:
            answers[str(n)] = selected

        # Cavab seçilməyibsə,
        # həmin sualı cavabsız saxla
        else:
            answers.pop(str(n), None)

        session["answers"] = answers
        session.modified = True

        # Son sualdırsa nəticəyə keç
        if n + 1 >= total:
            return redirect(url_for("finish"))

        # Növbəti suala keç
        return redirect(
            url_for(
                "question",
                n=n + 1
            )
        )

    return render_template(
        "question.html",
        q=q,
        n=n,
        total=total,
        name=session["name"]
    )
